{:paths    ["dev" "notebooks"]
 :deps     {org.clojure/clojure         {:mvn/version "1.11.1"}
            
            ;; Martin's latest stable version (at ~23rd May 2022) 
            io.github.nextjournal/clerk {:mvn/version "0.7.418"}
            
            clj-python/libpython-clj    {:mvn/version "2.018"}
            techascent/tech.ml.dataset  {:mvn/version "6.086"}
            scicloj/scicloj.ml          {:mvn/version "0.2.0"}
            }
 :aliases  {
            ;; run this alias using:  clj -X:jdk-17:web-pages
            :web-pages {;:extra-paths ["src" "datasets"]
                        :exec-fn     nextjournal.clerk/build-static-app!
                        :exec-args   {:bundle?     false
                                      :out-path    "public/jotter2"
                                      :path-prefix "jotter2/"
                                      :paths       ["index.md"
                                                    "notebooks/tsp_using_smile_and_sko.clj"]}}
            ;; to keep libpython-clj happy
            :jdk-17    {:jvm-opts ["--add-modules" "jdk.incubator.foreign"
                                   "--enable-native-access=ALL-UNNAMED"
                                   "-verbose:jni"]}}}